*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
  margin-bottom: 300px;
}

.header__top {
  padding: 47px 0 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}

.header__content {
  padding-top: 60px;
  position: relative;
}

.header__title {
  font-size: 72px;
  font-weight: 400;
  line-height: 107px;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.header__text {
  margin-bottom: 30px;
  max-width: 800px;
}

.button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #5a0d67;
  transition: all 0.5s;
}

.button:hover {
  color: #5a0d67;
  background-color: #fff;
}

.header__social {
  padding: 70px 0 20px 70px;
}

.social {
  display: flex;
  align-items: center;
}

.social__link {
  margin-right: 10px;
}

.header__images {
  position: absolute;
  right: 0;
  bottom: -270px;
}

.services {
  margin-bottom: 100px;
}

.title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  color: #21062a;
  margin-bottom: 50px;
  position: relative;
}

.title::after {
  content: "";
  height: 3px;
  width: 80px;
  background-color: #21062a;
  position: absolute;
  top: 25px;
  margin-left: 10px;
}

.services__inner {
  display: flex;
}

.services__content {
  width: 504px;
  margin-right: 94px;
}

.services__content-box {
  margin-bottom: 57px;
}

.services__content-title {
  color: #5a0d67;
  font-style: 18px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 12px;
}

.services__content-text {
  margin-bottom: 12px;
}

.button--decor {
  margin-top: -7px;
  color: #fff;
  position: relative;
  transition: all 0.5s;
}

.button--decor::after {
  content: "ЖМИ";
  color: #c4c4c4;
  position: absolute;
  margin-left: 140px;
}

.button--decor:hover {
  outline: 1px solid #5a0d67;
}

.button--decor::before {
  content: "";
  background-color: #c4c4c4;
  width: 80px;
  height: 2px;
  position: absolute;
  right: -65px;
  top: 24px;
}

.services__list {
  list-style: none;
  counter-reset: my_counter;
}

.services__item {
  counter-increment: my_counter;
  width: 450px;
  border: 2px solid #c4c4c4;
  margin-bottom: 12px;
  padding: 10px 15px 10px 113px;
  transition: all 0.5s;
  position: relative;
}

.services__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #2c2b2b;
}

.services__item-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.services__item::before {
  content: "0" counter(my_counter);
  position: absolute;
  transform: rotate(-90deg);
  left: 30px;
  top: 14px;
  color: #c4c4c4;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.services__item:hover {
  width: 500px;
  border: 2px solid #5a0d67;
  cursor: pointer;
}

.services__item:hover .services__item-title {
  color: #5a0d67;
}

.services__item:hover::before {
  color: #5a0d67;
}

.info {
  margin-bottom: 100px;
}

.info__inner {
  display: flex;
}

.interior {
  margin-right: 95px;
}

.info__content {
  width: 100%;
}

.info__content-box {
  padding: 23px 0px 25px 185px;
  color: #fff;
  background-color: #21062a;
}

.info__content > .title {
  margin-left: 185px;
}

.info__content-textbox {
  width: 320px;
  margin-bottom: 20px;
}

.info__content-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 53px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: -10px;
}

.info__content-subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.info__content-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #c4c4c4;
}

.carousel {
  margin-bottom: 100px;
}

.carousel__inner {
  margin: 0 -7px;
}

.carousel__item {
  margin: 0 7px;
}

.carousel__item-box {
  border: 1px solid #c4c4c4;
  padding: 6px 6px 16px 6px;
  transition: all 0.5s;
  text-align: center;
}

.carousel__item-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 5px;
}

.carousel__item-box:hover {
  border-color: #5a0d67;
  color: #fff;
  background-color: #5a0d67;
}

.carousel__item-img {
  max-width: 100%;
  margin-bottom: 23px;
}

.carousel .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}

.carousel .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0 10px;
  background-color: #c4c4c4;
  width: 50px;
  height: 1px;
}

.carousel .slick-active button {
  background-color: #5a0d67;
  height: 3px;
  outline: none;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__description {
  padding-top: 50px;
}

.contacts__description-box {
  margin-bottom: 20px;
}

.contacts__description-title {
  color: #5a0d67;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.contacts__form {
  background-color: #21062a;
  padding: 50px 75px 75px;
  text-align: center;
}

.contacts-title {
  color: #fff;
  margin-left: 53px;
  margin-bottom: 16px;
  text-align: left;
}

.contacts-title::after {
  background-color: #fff;
}

.contacts__input {
  background-color: transparent;
  width: 450px;
  height: 75px;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 12px;
  display: block;
  font-size: 24px;
  padding: 0 15px;
  text-align: center;
}

.contacts__input::placeholder {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #c4c4c4;
}

.contacts__btn {
  border: none;
  color: #fff;
  margin-top: 78px;
  cursor: pointer;
}

.footer {
  background-color: #21062a;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 100px;
}
